@model List<string>
<div class="container">
    <div class="row">
        @foreach(var imagePath in Model)
        {
            <div class="col-md-3">
                <div class="alert alert-sucess" role="alert">
                    <img src="~/@imagePath" alt="Alternate Text" height="200px" width="205px"/>
                   @* <a href="/Gallery/DownloadFile/?filePath=@imagePath"></a>*@
                </div>
            </div>
        }
    </div>
</div>
<div class="container mt-10">
    @using (Html.BeginForm("Index", "Gallery", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class="form-group col-md-6">
                <input type="file" class="form-control" name="myFile" onchange="document.getElementById('imgPrev').src = window.URL.createObjectURL(this.files[0])" />
                 <img id="imgPrev" src="" alt="img" width="150" height="150" style="border:150px"; margin-top:20px; margin-left:120px;/>
            </div>
           
            <div class="form-group col-md-6">
                <input type="submit" name="filesubmit" value="Upload" />
            </div>
        </div>
    }
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">
        $("custom-file-input").on("change", function(){
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script> 

    }

